.agenda{
    margin:auto;
    width:1000px;
    overflow:hidden;
}
.ofcalendar{
    border:1px solid #aaa;
    width:950px;
    margin:auto;
    text-align:center;
    clear:both;
}
.ofcalendar th{
    background-color:#ccc;
}
.ofcalendar td{
    position:relative;
    border:1px solid #ccc;
    height:80px;
    width:120px;
    overflow:auto;
}
.ofcalendar td div{
    overflow:auto;
    height:110px;
    margin-top:15px;
}
.ofcalendar td div .events{
    border-top:1px solid #eee;
    width:100%;
    display:inline-block;
    margin:5px 0px;
}
.ofcalendar td .day{
    position:absolute;
    top:0px;
    right:0px;
    margin:0px;
    vertical-align:top;
    text-align:right;
    display:block;
    width:100%;
    background-color:#f1f1f1;
    background-color:#ffffe7;
    height:15px;
}
.ofcalendar td:hover,.ofcalendar td.today{
    background-color:#fdf5d6;
}
.ofcalendar .weekend{
    color:#a00;
}
.ofcalendar-controller{
    margin:auto;
    text-align:center;
    overflow:hidden;

}
.ofcalendar-controller ul{
    margin:auto;
    display:inline-block;
    text-align:center;
    list-style-type:none;
}
.ofcalendar-controller ul li{
    float:left;
    clear:none;
    text-align:center;
    display:block;
}
.ofcalendar-controller{
    height:25px;
    line-height:25px;
}
.ofcalendar-controller li.btn{
    background-color:#aaa;
    margin:1px;
}
.ofcalendar-controller li.btn a{
    display:block;
    text-decoration:none;
    width:25px;
    color:#fff;
    padding:3px 5px;
    height:100%;
    height:20px;
    line-height:20px;
    text-align:center;
}
.ofcalendar-title{
    color:#777;
    font-size:1.8em;
    padding:0 5px;
    vertical-align:middle;
}
.agenda{
    position:relative;
    margin-bottom:10px;
}
ul.agenda-menu{
    list-style-type:none;
    float:left;
    margin:0px;
    padding:0px;
    clear:both;
    height:25px;
    overflow:hidden;
    z-index:20;
    position:absolute;
    top:12px;

}
ul.agenda-menu li{
    float:left;
    clear:none;
    height:20px;
    position:relative;
    border:1px solid #aaa;
}
ul.agenda-menu li a{
    padding:5px;
    height:20px;
    display:block;
    z-index:20;
    text-transform:uppercase;
    font-weight:bold;
    text-decoration:none;
}
.ofcalendar-events{
    height:100%;
    width:90%;
    padding:10px;
    top:40px;
    clear:none;
    margin:auto;
    overflow:auto;
}